/.VideoAnnotationsDSLDescriptionLabelProvider.java._trace
/.VideoAnnotationsDSLDescriptionLabelProvider.xtendbin
/.VideoAnnotationsDSLLabelProvider.java._trace
/.VideoAnnotationsDSLLabelProvider.xtendbin
/VideoAnnotationsDSLDescriptionLabelProvider.java
/VideoAnnotationsDSLLabelProvider.java
