/.AnnotationsStoresRuntimeModule.java._trace
/.AnnotationsStoresRuntimeModule.xtendbin
/.AnnotationsStoresStandaloneSetup.java._trace
/.AnnotationsStoresStandaloneSetup.xtendbin
/AnnotationsStoresRuntimeModule.java
/AnnotationsStoresStandaloneSetup.java
